Adding spot for links to resources used:

<sup> 1 </sup>https://www.nerdwallet.com/article/investing/cryptocurrency-7-things-to-know

<sup> 2 </sup>https://coinmarketcap.com/

<sup> 3 </sup>https://www.getsmarter.com/blog/career-advice/what-stakeholders-are-involved-in-the-blockchain-strategy-system/#:~:text=Stakeholders%20from%20the%20networking%20layer,network%20is%20a%20distributed%20one

In [2]:
import pandas as pd
import numpy as np

In [3]:
#Set up the data
df = pd.read_csv("data/crypto-markets.csv")
df.head()
print(df.columns)
#Describe some of these terms in the final file

Index(['slug', 'symbol', 'name', 'date', 'ranknow', 'open', 'high', 'low',
       'close', 'volume', 'market', 'close_ratio', 'spread'],
      dtype='object')

In [4]:
len(df.slug.unique())

2071

In [5]:
#Convert raw data to log scale for easier data manipulation and analysis 
df.head()

,slug,symbol,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
0,bitcoin,BTC,Bitcoin,2013-04-28,1,135.30,135.98,132.10,134.21,0.0,1.488567e+09,0.5438,3.88
1,bitcoin,BTC,Bitcoin,2013-04-29,1,134.44,147.49,134.00,144.54,0.0,1.603769e+09,0.7813,13.49
2,bitcoin,BTC,Bitcoin,2013-04-30,1,144.00,146.93,134.05,139.00,0.0,1.542813e+09,0.3843,12.88
3,bitcoin,BTC,Bitcoin,2013-05-01,1,139.00,139.89,107.72,116.99,0.0,1.298955e+09,0.2882,32.17
4,bitcoin,BTC,Bitcoin,2013-05-02,1,116.38,125.60,92.28,105.21,0.0,1.168517e+09,0.3881,33.32

In [7]:
#close -> log_close
df['log_close'] = np.log(df.close)
#volume -> log_volume
df['log_volume'] = np.log(df.volume)
#market -> log_market
df['log_market'] = np.log(df.market)
#Spread
df['spread'] = (df.high - df.low) / df.close
#return -> log (close / open)
df['log_return'] = np.log(df.close / df.close.shift(1))
df.close.head()

0    134.21
1    144.54
2    139.00
3    116.99
4    105.21
Name: close, dtype: float64